
@{
    ViewBag.Title = "UyelikBasarili";
}

<h1 style="margin-top:8%">Üyelik işlemi başarılı!</h1>

<p>Tebrikler, başarıyla kaydoldunuz.</p>

@section scripts {
    <script type='text/javascript'>setTimeout(function () { window.location = '/' }, 3000);</script>

}